{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% block title %} {% endblock %} </title>
    <link rel="stylesheet" href="{% static 'font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'img/youtube-icon.png' %}">
    <!-- Bootstrap CSS CDN -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- Cascading Style Sheets -->
    <link rel="stylesheet" href="{% static 'css/style4.css' %}">
    <link rel="stylesheet" href="{% static 'css/style-register.css' %}">
    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>

    <!-- Font Google -->
    <link href="https://fonts.googleapis.com/css2?family=Patua+One&display=swap" rel="stylesheet">
</head>

    <body>
        <!-- Sidebar  -->
        <nav id="sidebar" class="active" style="z-index: 100;">
            <div class="sidebar-header">
                <button type="button" id="sidebarCollapse" class="btn btn-link">
                    <i class="fas fa-bars"></i>
                </button>
            </div>

            <ul class="list-unstyleds components">
                <li class="nav-items">
                    <a href="{% url 'index' %}">
                        <i class="fas fa-home"></i>
                        <h5 class="list-unstyled CTAs" style="text-transform: uppercase; margin-left: 50px; font-family: 'Patua One', cursive; color: #FE011C;">
                            Главная
                        </h5>
                    </a>
                </li>
                <li class="nav-items">
                    <a href="#">
                        <div class="primary-hover">
                            <i class="fas fa-briefcase"></i>
                        </div>
                        <h5 class="list-unstyled CTAs" style="text-transform: uppercase; margin-left: 50px; font-family: 'Patua One', cursive;">
                            В тренде
                        </h5>
                    </a>
                </li class="nav-items">
                <li>
                    <a href="#">
                        <svg class="bi bi-collection-play-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M1.5 14.5A1.5 1.5 0 010 13V6a1.5 1.5 0 011.5-1.5h13A1.5 1.5 0 0116 6v7a1.5 1.5 0 01-1.5 1.5h-13zm5.265-7.924A.5.5 0 006 7v5a.5.5 0 00.765.424l4-2.5a.5.5 0 000-.848l-4-2.5zM2 3a.5.5 0 00.5.5h11a.5.5 0 000-1h-11A.5.5 0 002 3zm2-2a.5.5 0 00.5.5h7a.5.5 0 000-1h-7A.5.5 0 004 1z" clip-rule="evenodd"/>
                        </svg>
                        <h5 class="list-unstyled CTAs" style="text-transform: uppercase; margin-left: 50px; font-family: 'Patua One', cursive;">
                            Просмотренные
                        </h5>
                    </a>
                </li>   
                <li class="nav-items">
                    <a href="{% url 'upload' %}">
                       <i class="fas fa-file-video"></i>
                        <h5 class="list-unstyled CTAs" style="text-transform: uppercase; margin-left: 50px; font-family: 'Patua One', cursive;">
                            Создать новый пост
                        </h5>
                    </a>
                </li>
            </ul>
        </nav>
        <main id="content" style="width: 190vh;">
            <!-- Page Content  -->
            <div class="top">

                <div class="logo">
                    <img src="{% static 'img/you-tube.png' %}" alt="">
                </div>

                <div class="search">
                    <form class="form-inline" action="{% url 'search' %}" method="GET">
                        <div class="btn-keyboard"></div>
                            <input class="form-control" name="search"  placeholder="Bведите запрос" aria-label="Search" style="position: relative; width: 636px;font-size: 2.8vh;padding-left: 10px;">
                            <button class="keyboard"><i class="fa fa-keyboard"></i></button>
                            <button class="search-btn"><i class="fas fa-search"></i></button>
                        </div>
                    </form>
                </div>
                <div class="sign-in">
                    {% if user.is_authenticated %}
                    <div class="div" style="position: absolute; flex-direction: row;top: -63vh;">
                    {% if request.user.is_authenticated %}
                    <a href="{% url 'profile' %}"><img src="{{request.user.profile.profile_pic.url}}" class="card-img" alt="..." style="margin-top: 60vh;"></a>
                    <a href="{% url 'profile' %}" style="padding-top: -4vh;">{{request.user}}</a>
                    {% endif %} 
                     </div>
                    {% else %}
                    <div class="login-users" style="margin-top: -2vh;margin-left: -20vh;">
                    <a href="{% url 'register' %}">
                        <i class="fa fa-user" aria-hidden="true"></i><span style="text-transform: uppercase;">войти</span>
                    </a>
                    </div>
                     {% endif %}   
                </div>
            </div>
            <div>
                {% block content %}
                {% endblock %}
            </div>

            
        </main>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
        </script>
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <!-- jQuery CDN - Slim version (=without AJAX) -->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <!-- Popper.JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
        <!-- Bootstrap JS -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

        <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });

        </script>
        <script>
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = cookies[i].trim();
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
            var csrftoken = getCookie('csrftoken');
           
              $.ajaxSetup({
                headers: { "X-CSRFToken": csrftoken }
              })
           
            function like(){
                var like=$(this)
                var type = like.data('type')
                var slug = like.data('slug')
                var action = like.data('action')
                var dislike = like.next()

                $.ajax({
                    url:   action + '/',
                    type: 'POST',
                    data:{'obj':slug},
                    success: function (json){
                        like.find("[data-count='like']").text(json.like_count);
                        dislike.find("[data-count='dislike']").text(json.dislike_count)
                    }
                })
                return false
            }
            function dislike(){
                var dislike=$(this)
                var type = dislike.data('type')
                var slug = dislike.data('slug')
                var action = dislike.data('action')
                var like = dislike.prev()

                $.ajax({
                    url:  type + '/' + slug + '/' + action + '/',
                    type: 'POST',
                    data:{'obj':slug},
                    success: function (json){
                        dislike.find("[data-count='dislike']").text(json.dislike_count)
                        like.find("[data-count='like']").text(json.like_count)
                        
                    }
                })
                return false
            }
            $(function(){
                $('[data-action="like"]').click(like)
                $('[data-action="dislike"]').click(dislike)
            })
          </script>
    </body>

</html>