{% extends 'base.html' %}
{% block title %}
Страница новостей
{% endblock %}
{% block content %}
<header>
  <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">{{category.title}}</h1>
      </div>
  </div>
</header>
<main class="container">
    <div class="row">
      {% for post in category.posts.all %} 
      <article class="col-md-4">
        <div style="border: 2px solid rgba(224, 224, 224, 0.808); border-radius: 20px;">
          <h3 style="text-align: center;">{{post.title}}</h3>
          {% if post.image.url != null %}
          <img src="{{post.image.url}}" alt="" class="rounded mx-auto d-block" style="width: 300px; height: 250px; ">
          {% endif %}
          <p class="ml-2 mb-0">{{post.summary}}</p>
          <p class="ml-2 pb-3"> Категории:
            {% for category in post.categories.all %}
              <a href="{{category.get_absolute_url}}">#{{category.title}} </a>
            {% endfor %}
          </p>
        </div>
      </article>
      {% endfor %} 
    </div>
</main>
{% endblock %}