{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block title %}
YouTube
{% endblock %}
{% block content %}
  <div class="top-section" style="margin: -40px 0px 0px -30px;">
  <h2 style="position: relative; bottom: -12vh; left:11vh; color:black;font-size: 21.3px;font-weight: 550;">Рекомендованные</h2>
<section style="padding: 20px; margin-left: -14px; background-color: #f8f8f8;width: 208.8vh;">
  <form action="{% url 'sort' %}" method="POST">
    {% csrf_token %}
    <select name="sort" onchange="{this.form.submit()}" style="margin: 10px 10px -50vh 50vh;width: 40vh; height: 5vh;">
      <option value="-date">Сначала новые</option>
      <option value="date">Сначала старые</option>
      <a href="{{post.get_absolute_url}}"><img src="{{post.image.image.url}}" class="card-img" alt="..." style="bottom: -3.1vh;margin-left: 10px;"></a>
    </select>

  </form>
  </div>  
    <div class="row" style="background-color: #f8f8f8; width: 204.2vh;">
        {% for post in posts %}
        <div class="col-md-4" style="padding-left: 20vh;margin-left: -20vh; left: 5vh;top: -5.2vh;">
            <div class="card mb-5" style="margin: 60px 40px 0px 20px;width: 292px; height: 288px;"> 
                <div class="picture" >
                    <a href="{{post.get_absolute_url}}"><img src="{{post.image.image.url}}" class="card-img" alt="..." style="width: 291px;margin: -2.5vh 0 0 -5px; height: 163px;"></a>
               </div> 
               <div class="discription">
                <a href="{{post.get_absolute_url}}"><img src="{{post.image.image.url}}" class="card-img" alt="..." style="bottom: -3.0vh;margin-left: 10px;width: 52px;border-radius: 50%;height: 60px;position: relative;"></a>
                    <div class="title-posts" style="top: -10px;">
                    <h6 style="top: -10vh">{{post.title}}</h6>
                    <p class="snippet">{{post.snippet}}</p>
                    <p class="date"><small class="text-muted">
                      {% if post.date == timesince %}
                      {{post.date|timesince}}
                      {% else %}
                      {{post.date|timesince}} назад
                      {% endif %}
                    </small></p>
                    <p class="author">Автор: {{post.author.username}}</p>
                    <p class="ml-2 pb-3"> Категории:
                      {% for category in post.categories.all %}
                        <a href="{{category.get_absolute_url}}" class="category-link">#{{category.title}} </a>
                      
                        <center>
                          <a href="update/{{post.id}}" class="btn btn-warning" id = '{{post.id}}'>edit</a>
                          <a href="delete/{{post.id}}" class="btn btn-danger" id = '{{post.id}}'>delete</a>
                       </center>

                        {% endfor %}
                    </p>
                  </div>
               </div> 
            </div>
        </div>
        {% endfor %}
    
    </div>
</section>
{% endblock %}