{% extends 'base.html' %}
{% load static %}

{% block title %}
Вход
{% endblock %}
{% block content %}

    <div class="container-login">
        <div id="register">
            <h1 class="text-center">LOGIN</h1>
            <form action="{% url 'login' %}" method="POST">
            <!-- make a row  in col-md-6 for label and textbox -->
            {% csrf_token %}
            <label class=" label control-label">LOGIN</label>

            <div >
                <input type="text" class="form-control" name="name" placeholder="Name">
            </div>
            
            <!-- close -->
             <!-- make a row  in col-md-6 for label and textbox -->
             <label class=" label control-label">PASSWORD</label>
             <div >
                 <input type="Password" class="form-control" name="Password" placeholder="Password">
                 <small>Код должен быть из 6 символов</small>
             </div>
             <!-- close -->
              
                <!-- make a row  in col-md-6 for label and textbox -->
                
                <!-- close -->
                <!-- make a row  in col-md-6 for label and textbox -->
                <p style="text-align:center; margin-top: 10px">
                    <button class="btn btn-info">Submit</button>
                </p>

            </form>
        </div>

    </div>    

</div>
{% endblock %}
   