{% extends 'base.html' %}    
{% load static %}
{% block title %}
{{post.title}} - You Tube
{% endblock %}  
{% block content %}
                <!-- Cascading Style Sheets -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/post-detail.css' %}">
  <link href="https://fonts.googleapis.com/css2?family=Heebo&display=swap" rel="stylesheet" >
   

      <!-- Post Detail -->
  <body>
    <div class="container">
      <div class="post-form">
        <div class="post-img">

          <figure class="figure">
            <img src="{% static 'img/8.jpg' %}" class="figure-img img-fluid rounded" alt="post-img">

            <div class="category">  
              {% for category in post.categories.all %}
              <a href="{{category.get_absolute_url}}" class="category-link">#{{category.title}}</a>
               {% endfor %}
            </div>

            <figcaption class="figure-caption">{{post.title}}</figcaption>
          </figure>

         
          <div class="post-elements">

              <div class="post-views">
                   {{post.views}}  просмотров
              </div>

              <div class="likes">
                <div class="like">
                  <form action="{% url 'like' post.slug %}" method="POST">
                    {% csrf_token %}
                    <i class="fa fa-thumbs-up"></i>
                  </form>
                     {{likes.count}}
                </div>

                <div class="dislike">
                  <form action="{% url 'dislike' post.slug %}" method="POST">
                    {% csrf_token %}
                    <i class="fas fa-thumbs-down"></i>
                  </form>
                    {{dislikes.count}}
                </div>
              </div>

          </div>

          <hr>

          <div class="post-user-title">
              <div class="
            
          ">
                <a href="{{post.get_absolute_url}}"><img src="{{post.image.image.url}}" class="card-img" alt="..." class="photo-author"></a>
              </div>

          </div>



          


        </div>
      </div>
    </div>
  </body>

  
{% endblock %}
