{% extends 'base.html' %}

{% load static %}

{% block title %}{{ user.username }}{% endblock %}

{% block content %}
        <div class="row ml-2">
                <div class="col-md-3">
                        <div class="card card-body">
                        <a class="btn btn-warning" href="{% url 'index' %}">&#8592; Back to index</a>
                        <hr>
                        <h3>Profile settings</h3>
                        <hr>
                        <img src="{{request.user.profile.profile_pic.url}} " class="profile-pic">
                        </div>
                </div>
                <div class="col-md-9">
                        <div class="card card-body">
                                <form method="POST" action="" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        {{form.as_p}}
                                <input type="submit" class="btn btn-primary" name="Update Information">
                                </form>
                        </div>
                </div>
        </div>


        <!-- {% if user.is_authenticated %}
        <h1>{{ user.username }} welcome to your profile page</h1>
        <img src="{{ user.profile_picture.url }}" width = "150" height = "150"  />
        <h2>{{ user.userprofile.first_name }}</h2>
        <h2>{{ user.userprofile.second_name }}</h2>
        <h2>{{ user.userprofile.user_country }}</h2>
        {% endif %} -->

{% endblock %}