
{% extends 'base.html' %}
{% load static %}

{% block title %}
Regsiter - You Tube
{% endblock %}
{% block content %}
<body style="background: url('{% static "img/bg.png"  %}') center no-repeat; background-size: cover;">
 

    <div class="container">
        <div class="row">
            <div class="col-lg-3"></div>      

            <div class="col-lg-6" id="register">
                <div id="ui" style="height: 360px;margin: -10vh;">

                    <h1 class="text-center" style="padding-top: 12px;">REGISTER</h1>
                 <form action="{% url 'register' %}" method="POST" style="padding-left: 10px;">
            <!-- make a row  in col-md-6 for label and textbox -->
            {% csrf_token %}

                        <div class="row">
                            <div class="col-lg-5" style="margin-left: 18px;">
                                
                            First Name:
                                <input class="form-control" type="text" name="fname" placeholder="first name...">

                               

                            </div>
                            <div class="col-lg-5">
                                Last Name:
                                <input class="form-control" type="text" name="lname" placeholder="last name...">
                            </div>
                        </div>

                        <br>
                       
                        E-mail:
                        <input type="email" name="email" class="form-control" placeholder="e-mail..." style="width: 86vh">

                     

                        {{form.erors}}

                        <br>

                        <div class="row">
                            <div class="col-lg-5"  style="margin-left: 18px;">
                                Passwrod:
                                <input class="form-control" type="password" name="fname" placeholder="your password...">
                               
                            </div>
                            <div class="col-lg-5">
                                Re-type Password:

                                <input class="form-control" type="password" name="password" placeholder="re-type password...">
                            </div>
                            </div>
                       
                        
                        <br>
                    
                        Change your Country:
                        <select class="form-control" style="width: 86vh">
                            <option>Your country...</option>
                            <option>Russia</option>
                            <option>America</option>
                            <option>Germany</option>
                            <option>India</option>
                            <option>Japan</option>
                            <option>Kazakhstan</option>
                            <option>Madagascar</option>
                            <option>Nigeria</option>
                            <option>Tajikistan</option>
                            <option>Mexico</option>
                            <option>France</option>
                            <option>Brazil</option>
                        </select>
                        <br>
                        <br>
                        <input class="btn btn-primary" type="submit" name="submit" value="submit">

                        <p>Already have an account? <a href="{% url 'login' %}" class="query-login" style="color: #00b7ff;">Login</a></p>
                    </div>
                </form>
                </div>
            </div>
            
            <div class="col-lg-3"></div>

        </div>
    </div>
        
</body>
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
{% endblock %}    