{% extends 'base.html' %}
{% block title %}
Поиск по: {{query}}
{% load static %}
{% endblock %}
{% block content %}

    <div class="jumbotron jumbotron-fluid" >
      <div class="container mt-0" >
        <h2 class="display-10" style="font-family: 'Patua One', cursive; text-align: center;">Поиск по: {{query}}</h2>
        <img src="{% static 'img/sad-smile.png' %}" alt="sad-smile" style="width: 400px; margin-left: 35%;">
        <h3 style="text-align: center; margin-bottom: 30px;">Результатов не найдено : ( </h3>
        <h4 style="text-align: center;">Поищите по другим ключевым словам или уберите примененные фильтры.</h4>
      </div>
    </div>

    <div class="row ml-0" style="width: 100%;">
      {% for post in search_obj %} 
      <div class="col-md-4">
        <div class="card mb-5" style="margin-left: 15px;"> 
            <div class="picture">
                <a href="{{post.get_absolute_url}}"><img src="{{post.image.image.url}}" class="card-img" alt="..."></a>
           </div> 
           <div class="discription">
            <a href="{{post.get_absolute_url}}"><img src="{{post.image.image.url}}" class="card-img" alt="..." ></a>
                <h6 class="">{{post.title}}</h6>
                <p class="snippet">{{post.snippet}}</p>
                <p class="date"><small class="text-muted">
                  {% if post.date == timesince %}
                  {{post.date|timesince}}
                  {% else %}
                  {{post.date|timesince}} назад
                  {% endif %}
                </small></p>
                <p class="author">Автор: {{post.author.username}}</p>
                <p class="ml-2 pb-3"> Категории:
                  {% for category in post.categories.all %}
                    <a href="{{category.get_absolute_url}}" class="category-link">#{{category.title}} </a>
                  {% endfor %}
                </p>
           </div> 
                        
        </div>
    </div>
      
      {% endfor %} 
    </div>

{% endblock %}