{% extends 'base.html' %}
{% load static %}

{% block title %}
Сортировка постов
{% endblock %}
{% block content %}
<section style="padding: 20px; background-color: #F6F6F6; margin-left: -14px;">
  <form action="{% url 'sort' %}" method="POST">
    {% csrf_token %}
  <select name="sort" onchange="{this.form.submit()}"style="margin: 10px 10px 10px 24px;width: 40vh; height: 5vh">
      <option {% if value == '-date' %}selected{% endif %} value="-date">Сначала новые</option>
      <option {% if value == 'date' %}selected{% endif %} value="date">Сначала старые</option>
    </select>
</div>  
<div class="row" style="background-color: #f8f8f8; width: 204.2vh;">
  {% for post in posts %}
  <div class="col-md-4" style="padding-left: 20vh;margin-left: -20vh; left: 5vh;top: -5.2vh;">
      <div class="card mb-5" style="margin: 60px 40px 0px 20px;width: 292px; height: 288px;"> 
          <div class="picture" >
              <a href="{{post.get_absolute_url}}"><img src="{{post.image.image.url}}" class="card-img" alt="..." style="width: 291px;margin: -2.5vh 0 0 -5px; height: 163px;"></a>
         </div> 
         <div class="discription">
          <a href="{{post.get_absolute_url}}"><img src="{{post.image.image.url}}" class="card-img" alt="..." style="bottom: -3.0vh;margin-left: 10px;width: 52px;border-radius: 50%;height: 60px;position: relative;"></a>
              <div class="title-posts" style="top: -10px;">
              <h6 style="top: -10vh">{{post.title}}</h6>
              <p class="snippet">{{post.snippet}}</p>
              <p class="date"><small class="text-muted">
                {% if post.date == timesince %}
                {{post.date|timesince}}
                {% else %}
                {{post.date|timesince}} назад
                {% endif %}
              </small></p>
              <p class="author">Автор: {{post.author.username}}</p>
              <p class="ml-2 pb-3"> Категории:
                {% for category in post.categories.all %}
                  <a href="{{category.get_absolute_url}}" class="category-link">#{{category.title}} </a>
                {% endfor %}
              </p>
            </div>
         </div> 
      </div>
  </div>
  {% endfor %}

</div>
</section>
{% endblock %}