{% extends 'base.html' %}

{% load static %}

{% block title %}{{ user.username }}{% endblock %}

{% block content %}
<center>
    <h1 class="display-3" style="background-color:#000000;color:#FFFF99;">Upload Posts</h1>
    <form method = 'POST' enctype="multipart/form-data">
        {% csrf_token %}
        <table class = 'w-50 table table-light' style="border-radius:10px;background-color:#FFFF99;">
            {% for field in upload %}
            <tr>
                <th>{{field.label}}</th>
                <td>{{ field }}</td>
            </tr>
            {% endfor %}
        </table>
        <button type="submit" class="btn btn-lg btn-warning">Submit</button>
    </form>
</center>

{% endblock %}