<h1>Upload Video</h1>
<div class="upload" style="width: 100px;">
    <form class="site-form" method="POST" enctype="multipart/video-data">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Создать">
    </form>
</div>