*,
*::before,
*::after {
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    font-size: 1rem;
    font-family: "Heebo", sans-serif;
    background-color: #f8f8f8;
}

h2 {
    color: #030303;
}

h5 {
    color: #909090;
}

.container {
    width: 738px;
}

.post-form {
    position: relative;
    bottom: 20vh;
    right: 33vh;
}

.figure-img {
    height: 400px;
    width: 710px;
}

.category-link {
    color: #065fd4;
    font-size: 13px;
}
.category-link:hover {
    color: #065fd4;
}

.figure-caption {
    padding-top: 10px;
    font-size: 2.2rem;
    color: #030303;
}

.post-elements {
    display: flex;
    padding-top: 4px;
}

.post-views {
    color: #696460;
    font-size: 14.8px;
    letter-spacing: 1px;
}

.likes {
    display: flex;
    flex-direction: row;
    padding-left: 10vh;
    color: #909090;
    font-size: 2rem;
}

.like {
    padding-right: 100px;
}

.author-profile {
    margin-left: 10px;
    width: 52px;
    border-radius: 50%;
    height: 60px;
}
