body {
    background: url('{% static "img/sad-smile.png" %}');
}

#ui {
    background-color: rgba(51, 51, 51, 0.781);
    border-radius: 20px;
    margin-top: 5px;
    text-align: center;
    width: 600px;
}

#ui label,
h1 {
    color: #fff;
}
