/*
    DEMO STYLE
*/
.top {
    display: flex;
    flex-wrap: nowrap;
    background-color: #fff;
    height: 65px;
    margin-left: -12.8px;
    width: 203.9vh;
}

.logo img {
    height: 69px;
    margin-left: 32px;
}

.logo img::selection {
    background-color: transparent;
}
.search {
    width: 900px;
    padding-left: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: -47px;
}

.btn-keyboard {
    position: relative;
}
.keyboard {
    z-index: 2;
    margin-left: -40px;
    width: 38px;
    height: 30px;
    background-color: #fff;
    border: none;
}

.search-btn {
    margin-left: 1.6px;
    width: 75px;
    height: 34px;
    background-color: #f8f8f8;
    border: 1px solid #d3d3d3;
}

.fa-search {
    font-size: 15px;
    color: #818181;
}

.fa-keyboard {
    font-size: 20px;
    color: #666666;
}

.sign-in {
    position: absolute;
    right: 150vh;
    right: 10vh;
    top: 3.3vh;
    color: #444;
}

.container {
    margin-top: 150px;
}

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: "Poppins", sans-serif;
    background: #f9f9f9;
    display: flex;
    flex-wrap: wrap;
}

p {
    font-family: "Poppins", sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

i,
span {
    display: inline-block;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    width: 19%;
    height: 100%;
    position: fixed;
    background: #fff;
    transition: all 0.3s;
}

#content {
    width: 100%;
    transition: all 300ms;
}

.active ~ #content {
    width: 95%;
    margin-left: 5%;
}

#sidebar.active .sidebar-header h3,
#sidebar.active .CTAs {
    display: none;
}

#sidebarCollapse {
    position: relative;
    top: -4vh;
    left: -1vh;
    font-size: 23px;
    color: #666;
    outline: none;
}

.active {
    width: 80px !important;
}

#sidebar.active .sidebar-header strong {
    display: block;
    margin-bottom: 40px;
}

#sidebar ul li a {
    text-align: left;
    margin-left: 10px;
}

#sidebar.active ul li a {
    padding: 20px 10px;
    text-align: center;
    font-size: 0.85em;
}

#sidebar.active ul li a i {
    margin-right: 0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}

#sidebar.active ul ul a {
    padding: 10px !important;
}

#sidebar.active .dropdown-toggle::after {
    top: auto;
    bottom: 10px;
    right: 20%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #fff;
}

#sidebar .sidebar-header strong {
    display: none;
    font-size: 1.8em;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li:hover {
    color: #393f47;
    background: #fff;
}

#sidebar ul li a i {
    margin-right: 10px;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
    color: #fff;
    background: #f8f8f8;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.components {
    color: #666;
    font-size: 3vh;
}

.active .nav-items i {
    position: absolute;
    margin-left: 10vh !important;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}
.components li {
    position: relative;
    margin-bottom: 1vh;
    top: -8vh;
    margin-left: -16px;
    list-style: none;
}

#sidebar .fa-home {
    position: relative;
    top: 20px;
    margin-left: 10px;
    color: #fe011c;
    font-size: 2.3rem;
}

#sidebar .fa-briefcase {
    position: relative;
    top: 20px;
    margin-left: 10px;
    font-size: 2.3rem;
}
#sidebar svg {
    position: relative;
    top: 20px;
    margin-left: 10px;
    font-size: 2.3rem;
}
#sidebar .fa-file-video {
    position: relative;
    top: 20px;
    margin-left: 10px;
    font-size: 2.3rem;
}

.sidebar-header {
    padding-left: 0px;
    background: #fff;
}
.fa-user {
    color: #065fd4;
    font-size: 3.5vh;
    margin-right: 5px;
}
.login-users {
    width: 100px;
    height: 40px;
    display: flex;
    border: 1px solid #065fd4;
    border-radius: 3px;
    margin-bottom: 5px;
    align-items: center;
    justify-content: center;
}
.login-users span {
    font-size: 17px;
    color: #065fd4;
}
.form-control {
    position: relative;
    margin-left: 20px;
}
/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
.picture {
    padding: 5px;
}
.picture a img {
    height: 200px;
    background-size: cover;
    background-position: center center;
}
#card-img:hover {
    background-color: #f8f8f8;
}
.discription {
    height: 100px;
    margin-left: 5px;
    margin-right: 5px;
}
.discription h6 {
    position: relative;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    top: -6vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.discription p {
    margin-top: -28px;
    font-size: 15px;
    text-align: center;
}
.discription .user-img {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    bottom: -40vh;
}

.discription .author {
    position: relative;
    font-size: 14px;
    bottom: 10px;
}
.discription .snippet {
    position: relative;
    color: #222;
    font-size: 14px;
    font-weight: bold;
    bottom: 20px;
}

.discription .category-link {
    color: #065fd4;
}

.discription .date {
    position: relative;
    bottom: -4.5vh;
}

/* ---------------------------------------------------
    register
----------------------------------------------------- */

@media screen and (max-width: 970px) {
    #register {
        width: 90%;
        margin-top: 0px;
        display: block;
    }
}
/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important;
    }
    .dropdown-toggle::after {
        top: auto;
        bottom: 10px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }
    #sidebar.active {
        margin-left: 0 !important;
    }
    #sidebar .sidebar-header h3,
    #sidebar .CTAs {
        display: none;
    }
    #sidebar .sidebar-header strong {
        display: block;
    }
    #sidebar ul li a {
        padding: 20px 10px;
    }
    #sidebar ul li a span {
        font-size: 0.85em;
    }
    #sidebar ul li a i {
        margin-right: 0;
        display: block;
    }
    #sidebar ul ul a {
        padding: 10px !important;
    }
    #sidebar ul li a i {
        font-size: 1.3em;
    }
    #sidebar {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}
